/* BANNER */

.banner {
    height: var(--tamanho-banner);
    color: var(--off-white);
    min-height: 100vh;
}

.imgbanner {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translate(-50%, -50%) scale(1.05);
    object-fit: cover;
    filter: blur(8px) brightness(0.5);
}

.banner .container {
    justify-content: center;
    align-items: center;
    height: 100%;
}

.banner .container p {
    width: 50%;
    margin: 0;
    padding: 0;
    font-size: 36px;
    font-weight: 800;
}

.banner .container span {
    font-weight: 800;
}

/* MISSÃO VISÃO VALORES */

.social {
    background-color: var(--azul);
    display: flex;
    min-height: 100vh;
    align-items: center;
}

.social .container {
    justify-content: center;
}

.box img {
    width: 170px;
}

.social .container .boxes {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 30px 0;
    gap: 3rem;
}

.social h4 {
    color: var(--off-white);

}

.social p {
    text-align: center;
    color: var(--off-white);
}

.social img {
    width: 150px;
    height: 150px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1;}
}

.fade-in {
  opacity: 1;
  animation: fadeIn 1s forwards;
}